<div id="content">
</div>
<!-- <div id="other-content">
</div> -->

<script type="text/javascript">
  React.render(React.createElement(Organ), document.getElementById('content'));
  // React.render(React.createElement(Organ), document.getElementById('other-content'));
</script>
